services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BUILD_ENV: production

    ports:
      - '3000:3000'

    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_GNOSISSCAN_API_KEY=${NEXT_PUBLIC_GNOSISSCAN_API_KEY}
      - NEXT_PUBLIC_THEGRAPH_API_URL=${NEXT_PUBLIC_THEGRAPH_API_URL}

    networks:
      - rmmgain-network

networks:
  rmmgain-network:
    driver: bridge

